:root {
    --green: #C7DCCB;
    --olive: #303D2B;
}
body {
    color: var(--olive);
        background-color: var(--green);
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
        flex-direction: column;
        align-items: center;
}
h1,
h2,
h3 {
    font-weight: bold;
}
h1 {
    padding-top: 1em;
    font-size: 2.5em;
}

hr {
    width: 700px;
    margin-top: -10px;
    border: 1px dashed var(--olive);
}
p {
    width: 600px;
}